<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kh.splendy.mapper.BoardMapper">
	<resultMap id="BoardVO" type="org.kh.splendy.vo.Article">
		<result column="U_ID" property="u_id" javaType="int" />
		<result column="AT_ID" property="at_id" javaType="int" />
		<result column="BD_ID" property="bd_id" javaType="java.lang.String" />
		<result column="AT_SUBJECT" property="at_subject" javaType="java.lang.String" />
		<result column="AT_CONTENT" property="at_content" javaType="java.lang.String" />
		<result column="AT_PASS" property="at_pass" javaType="java.lang.String" />
		<result column="AT_READCOUNT" property="at_readcount" javaType="int" />
		<result column="AT_IP" property="at_ip" javaType="java.lang.String" />
		<result column="AT_REPLY" property="at_reply" javaType="int" />
		<result column="AT_RE_STEP" property="at_re_step" javaType="int" />
		<result column="AT_RE_LEVEL" property="at_re_level" javaType="int" />
		<result column="AT_CATEGORY" property="at_category" javaType="java.lang.String" />
		<result column="AT_REG_DATE" property="at_reg_date" javaType="java.sql.Timestamp" />
	</resultMap>

	<select id="getList" parameterType="org.kh.splendy.vo.Article" resultMap="BoardVO">
		select * from KH_ARTICLE
	</select>
	
	<select id="getDetail" parameterType="org.kh.splendy.vo.Article" resultMap="BoardVO">
    <![CDATA[
        SELECT
            AT_ID,          
            AT_REG_DATE,
            AT_SUBJECT,
            AT_CONTENT,
            AT_READCOUNT
        FROM
            KH_ARTICLE
        WHERE
            AT_ID = #{AT_ID}        
    ]]>
	</select>
	
	<insert id="writePro" parameterType="org.kh.splendy.vo.Article">
	<![CDATA[		
		INSERT INTO KH_ARTICLE(
			AT_ID, AT_SUBJECT, AT_PASS,
			AT_CONTENT, AT_IP, AT_REPLY,AT_READCOUNT,
			AT_RE_LEVEL, AT_RE_STEP, AT_REG_DATE)
		VALUES(
			KH_BOARD_SEQ.NEXTVAL, #{at_subject, jdbcType=VARCHAR}, #{at_pass, jdbcType=VARCHAR}, 
			#{at_content, jdbcType=VARCHAR}, #{at_ip, jdbcType=VARCHAR}, #{at_reply, jdbcType=INTEGER},
			#{at_readcount, jdbcType=INTEGER},#{at_re_level, jdbcType=INTEGER}, #{at_re_step, jdbcType=INTEGER}, SYSDATE
		)
	]]>		
	</insert>	
	
	<update id="readCount" parameterType="org.kh.splendy.vo.Article">
    <![CDATA[
        UPDATE KH_ARTICLE 
        SET
            AT_READCOUNT = NVL(AT_READCOUNT, 0) + 1
        WHERE
            AT_ID = #{AT_ID}    
    ]]>
	</update>

	<update id="updateBoard" parameterType="org.kh.splendy.vo.Article">
    <![CDATA[
        UPDATE TB_BOARD 
        SET
            TITLE = #{TITLE},
            CONTENTS = #{CONTENTS}
        WHERE
            IDX = #{IDX}    
    ]]>
	</update>
</mapper>