<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kh.splendy.mapper.BoardMapper">
	<resultMap id="BoardVO" type="org.kh.splendy.vo.Article">
		<result column="U_ID" property="u_id" javaType="int" />
		<result column="AT_ID" property="at_id" javaType="int" />
		<result column="BD_ID" property="bd_id" javaType="int" />
		<result column="AT_SUBJECT" property="at_subject" javaType="java.lang.String" />
		<result column="AT_CONTENT" property="at_content" javaType="java.lang.String" />
		<result column="AT_PASS" property="at_pass" javaType="java.lang.String" />
		<result column="AT_READCOUNT" property="at_readcount" javaType="int" />
		<result column="AT_IP" property="at_ip" javaType="java.lang.String" />
		<result column="AT_CATEGORY" property="at_category" javaType="java.lang.String" />
		<result column="AT_REG_DATE" property="at_reg_date" javaType="java.sql.Timestamp" />
	</resultMap>

	<resultMap id="CommentVO" type="org.kh.splendy.vo.Comment">
		<result column="U_ID" property="u_id" javaType="int" />
		<result column="AT_ID" property="at_id" javaType="int" />
		<result column="BD_ID" property="bd_id" javaType="int" />
		<result column="CM_CONT" property="cm_cont" javaType="java.lang.String" />
		<result column="CM_PASS" property="cm_pass" javaType="java.lang.String" />
		<result column="RE_ID" property="re_id" javaType="int" />
		
	</resultMap>
	
	<select id="getDetail" parameterType="org.kh.splendy.vo.Article" resultMap="BoardVO">
    <![CDATA[
        SELECT
            AT_ID,
            U_ID,
            BD_ID,          
            AT_REG_DATE,
            AT_SUBJECT,
            AT_CONTENT,
            AT_READCOUNT
        FROM
            KH_ARTICLE
        WHERE
            AT_ID = #{AT_ID}        
    ]]>
	</select>
	
	<insert id="writePro" parameterType="org.kh.splendy.vo.Article">
	<![CDATA[		
		INSERT INTO KH_ARTICLE(
			AT_ID, BD_ID, U_ID, AT_SUBJECT, AT_PASS,
			AT_CONTENT, AT_IP, AT_READCOUNT,
			AT_REG_DATE)
		VALUES(
			KH_BOARD_SEQ.NEXTVAL, #{bd_id}, #{u_id}, #{at_subject, jdbcType=VARCHAR}, #{at_pass, jdbcType=VARCHAR}, 
			#{at_content, jdbcType=VARCHAR}, #{at_ip, jdbcType=VARCHAR},
			#{at_readcount, jdbcType=INTEGER}, SYSDATE
		)
	]]>		
	</insert>
			
	<update id="readCount" parameterType="org.kh.splendy.vo.Article">
    <![CDATA[
        UPDATE KH_ARTICLE 
        SET
            AT_READCOUNT = NVL(AT_READCOUNT, 0) + 1
        WHERE
            AT_ID = #{AT_ID}    
    ]]>
	</update>

	<update id="updateBoard" parameterType="org.kh.splendy.vo.Article">
    <![CDATA[
        UPDATE KH_ARTICLE 
        SET
            AT_SUBJECT = #{at_subject},            
            AT_CONTENT = #{at_content}
        WHERE
            AT_ID = #{at_id}    
    ]]>
	</update>
	<!-- 
	<delete id="deleteBoard" parameterType="int">
    <![CDATA[
        DELETE KH_ARTICLE WHERE AT_ID = #{AT_ID, jdbcType=INTEGER}
    ]]>
	</delete>	
	 -->
	 <insert id="insertReply" parameterType="org.kh.splendy.vo.Comment" >
    	<selectKey resultType="int" keyProperty="re_id" order="BEFORE">
        SELECT NVL(MAX(RE_ID),0)+1 FROM KH_COMMENT
    	</selectKey>
        
    	INSERT INTO KH_COMMENT(AT_ID, RE_ID, BD_ID, U_ID, CM_CONT, CM_PASS)
    	VALUES (#{at_id, jdbcType=INTEGER}, #{re_id, jdbcType=INTEGER}, #{bd_id, jdbcType=INTEGER}, #{u_id, jdbcType=INTEGER}, #{cm_cont, jdbcType=VARCHAR}, #{cm_pass, jdbcType=VARCHAR})
	</insert>

	<update id="updateReply" parameterType="org.kh.splendy.vo.Comment">
	    UPDATE KH_COMMENT
	       SET CM_CONT=#{cm_cont} 
	     WHERE RE_ID=#{re_id}
	</update>
	
	<select id="replyList" parameterType="org.kh.splendy.vo.Comment" resultMap="CommentVO">
	<![CDATA[
        SELECT
            AT_ID,          
            BD_ID,
            U_ID,
            CM_CONT,
            CM_PASS,
            RE_ID
        FROM
            KH_COMMENT
        WHERE
            AT_ID = #{at_id} 
        ORDER BY RE_ID ASC       
    ]]>
	</select> 
	 
</mapper>