<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kh.splendy.mapper.CardMapper">
	<resultMap id="cardVo" type="org.kh.splendy.vo.Card">
		<result column="cd_id" property="id" />
		<result column="cd_img" property="img" />
		<result column="cd_info" property="info" />
		<result column="cd_name" property="name" />
		<result column="cd_type" property="type" />
	</resultMap>
</mapper>