<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kh.splendy.mapper.CardMapper">
	<resultMap id="cardResult" type="org.kh.splendy.vo.Card">
		<result property="id" column="CD_ID" />
		<result property="type" column="CD_TYPE" />
		<result property="name" column="CD_NAME" />
		<result property="img" column="CD_IMG" />
		<result property="info" column="CD_INFO" />
	</resultMap>
</mapper>