<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kh.splendy.mapper.CompMapper">
	<resultMap id="pl_coin" type="org.kh.splendy.vo.PLCoin">
		<result column="CN_ID"			property="cn_id"			javaType="int" />
		<result column="RM_ID"			property="rm_id"			javaType="int" />
		<result column="U_ID"			property="u_id"				javaType="int" />
		<result column="CN_COUNT"		property="cn_count"			javaType="int" />
	</resultMap>
	<resultMap id="pl_card" type="org.kh.splendy.vo.PLCard">
		<result column="CN_ID"			property="cn_id"			javaType="int" />
		<result column="RM_ID"			property="rm_id"			javaType="int" />
		<result column="U_ID"			property="u_id"				javaType="int" />
		<result column="N_HOLD"			property="n_hold"			javaType="int" />
	</resultMap>

    <update id="updateCoins" parameterType="org.kh.splendy.vo.PLCoin">
        <foreach item="rst" index="index" collection="list" open="" separator="" close="">
            <if test="rst.rm_id > 0">
                UPDATE KH_PL_COIN SET CN_COUNT = #{rst.cn_count} WHERE RM_ID=#{rst.rm_id} AND U_ID=#{rst.u_id} AND CN_ID=#{rst.cn_id}
            </if>
        </foreach>
    </update>

    <update id="updateCards" parameterType="org.kh.splendy.vo.PLCard">
        <foreach item="rst" index="index" collection="list" open="" separator="" close="">
            <if test="rst.rm_id > 0">
                UPDATE KH_PL_CARD SET N_HOLD = #{rst.n_hold}, U_ID = #{rst.u_id} WHERE RM_ID=#{rst.rm_id} AND CD_ID=#{rst.cd_id}
            </if>
        </foreach>
    </update>
</mapper>