<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kh.splendy.mapper.CompMapper">
	<resultMap id="pl_coin" type="org.kh.splendy.vo.PLCoin">
		<result column="CN_ID"			property="cn_id"			javaType="int" />
		<result column="RM_ID"			property="rm_id"			javaType="int" />
		<result column="U_ID"			property="u_id"				javaType="int" />
		<result column="CN_COUNT"		property="cn_count"			javaType="int" />
	</resultMap>
	<resultMap id="pl_card" type="org.kh.splendy.vo.PLCard">
		<result column="CD_ID"			property="cd_id"			javaType="int" />
		<result column="RM_ID"			property="rm_id"			javaType="int" />
		<result column="U_ID"			property="u_id"				javaType="int" />
		<result column="N_HOLD"			property="n_hold"			javaType="int" />
	</resultMap>

    <update id="updateCoins" parameterType="org.kh.splendy.vo.PLCoin">
        UPDATE KH_PL_COIN
        SET
            CN_COUNT = CASE
        <foreach item="rst" index="index" collection="list" open="" separator="" close="">
                WHEN (RM_ID=#{rst.rm_id} AND U_ID=#{rst.u_id} AND CN_ID=#{rst.cn_id}) THEN #{rst.cn_count}
            </foreach>
            ELSE N_HOLD END
        WHERE
            RM_ID IN
                <foreach item="rst" index="index" collection="list" open="(" separator="," close=")">
                    #{rst.rm_id}
                </foreach>
              AND
            U_ID IN
                <foreach item="rst" index="index" collection="list" open="(" separator="," close=")">
                    #{rst.u_id}
                </foreach>
              AND
            CN_ID IN
                <foreach item="rst" index="index" collection="list" open="(" separator="," close=")">
                    #{rst.cn_id}
                </foreach>
    </update>

    <update id="updateCards" parameterType="org.kh.splendy.vo.PLCard">
        UPDATE KH_PL_CARD
        SET
            N_HOLD = CASE
        <foreach item="rst" index="index" collection="list" open="" separator="" close="">
                WHEN CD_ID=#{rst.cd_id} THEN #{rst.n_hold}
            </foreach>
            ELSE N_HOLD END,

            U_ID = CASE
        <foreach item="rst" index="index" collection="list" open="" separator="" close="">
                WHEN CD_ID=#{rst.cd_id} THEN #{rst.u_id}
            </foreach>
            ELSE U_ID END
        WHERE
            RM_ID IN
                <foreach item="rst" index="index" collection="list" open="(" separator="," close=")">
                    #{rst.rm_id}
                </foreach>
              AND
            CD_ID IN
                <foreach item="rst" index="index" collection="list" open="(" separator="," close=")">
                    #{rst.cd_id}
                </foreach>
    </update>
</mapper>