<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kh.splendy.mapper.MsgMapper">
	<resultMap id="msgRst" type="org.kh.splendy.vo.Msg">
		<result column="M_ID"			property="mid"			javaType="int" />
		<result column="RM_ID"			property="rid"			javaType="int" />
		<result column="U_ID"			property="uid"			javaType="int" />
		<result column="M_TYPE"			property="type"			javaType="java.lang.String" />
		<result column="M_CONT"			property="cont"			javaType="java.lang.String" />
		<result column="M_REG"			property="reg"			javaType="java.sql.Date" />
	</resultMap>
</mapper>