<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kh.splendy.mapper.PlayerMapper">
	<resultMap id="player" type="org.kh.splendy.vo.Player">
		<result column="U_ID"			property="id"			javaType="int" />
		<result column="PL_IP"			property="ip"			javaType="java.lang.String" />
		<result column="PL_IS_IN"		property="isIn"			javaType="int" />
		<result column="PL_REG"			property="reg"			javaType="java.sql.Date" />
		<result column="RM_ID"			property="room"			javaType="int" />
	</resultMap>
	<resultMap id="wsplayer" type="org.kh.splendy.vo.WSPlayer">
		<result column="U_ICON"			property="icon"			javaType="java.lang.String" />
		<result column="U_NICK"			property="nick"			javaType="java.lang.String" />
		<result column="U_RATE"			property="rating"		javaType="int" />
		<result column="RM_HOST"		property="role"			javaType="java.lang.String" />
		<result column="RM_ID"			property="room"			javaType="int" />
		<result column="U_ID"			property="uid"			javaType="int" />
	</resultMap>
	<resultMap id="inRoomPlayer" type="org.kh.splendy.vo.WSPlayer">
		<result column="U_WS_ID"		property="role"			javaType="java.lang.String" />
		<result column="U_NICK"			property="nick"			javaType="java.lang.String" />
		<result column="U_ID"			property="uid"			javaType="int" />
	</resultMap>
	
	<select
		id="getWSPlayer" 
		parameterType="int"
		resultMap="wsplayer">
	<![CDATA[
		SELECT KH_USER_PROFILE.U_RATE,
			KH_USER_PROFILE.U_ICON,
			KH_USER.U_ID,
			KH_USER.U_NICK,
			KH_PLAYER.PL_IP,
			KH_ROOM.RM_ID,
			KH_ROOM.RM_HOST
		FROM KH_USER
			INNER JOIN KH_USER_PROFILE
				ON KH_USER.U_ID = KH_USER_PROFILE.U_ID
			INNER JOIN KH_PLAYER
				ON KH_USER.U_ID = KH_PLAYER.U_ID
			INNER JOIN KH_ROOM
				ON KH_ROOM.RM_ID  = KH_USER_PROFILE.U_LAST_RID
				AND KH_ROOM.RM_ID = KH_PLAYER.RM_ID
			INNER JOIN KH_USER_INNER
				ON KH_USER.U_ID = KH_USER_INNER.U_ID
		WHERE KH_USER.U_ID = #{uid}
			AND KH_USER_INNER.U_CONNECT > 0
			AND KH_PLAYER.PL_IS_IN      > 0
	]]>
	</select>

	<select
		id="getAllWSPlayer" 
		resultMap="wsplayer">
	<![CDATA[
		SELECT KH_USER_PROFILE.U_RATE,
			KH_USER_PROFILE.U_ICON,
			KH_USER.U_ID,
			KH_USER.U_NICK,
			KH_PLAYER.PL_IP,
			KH_ROOM.RM_ID,
			KH_ROOM.RM_HOST
		FROM KH_USER
			INNER JOIN KH_USER_PROFILE
				ON KH_USER.U_ID = KH_USER_PROFILE.U_ID
			INNER JOIN KH_PLAYER
				ON KH_USER.U_ID = KH_PLAYER.U_ID
			INNER JOIN KH_ROOM
				ON KH_ROOM.RM_ID  = KH_USER_PROFILE.U_LAST_RID
				AND KH_ROOM.RM_ID = KH_PLAYER.RM_ID
			INNER JOIN KH_USER_INNER
				ON KH_USER.U_ID = KH_USER_INNER.U_ID
		WHERE KH_USER.U_ID              <> 0
			AND KH_USER_INNER.U_CONNECT > 0
			AND KH_PLAYER.PL_IS_IN      > 0
	]]>
	</select>
	
	<select
		id="getInRoomPlayer"
		resultMap="inRoomPlayer">
	<![CDATA[
		SELECT KH_PLAYER.U_ID,
			KH_USER_INNER.U_WS_ID,
			KH_USER.U_NICK
		FROM KH_USER_INNER
			INNER JOIN KH_USER
				ON KH_USER.U_ID = KH_USER_INNER.U_ID
			INNER JOIN KH_PLAYER
				ON KH_USER.U_ID              = KH_PLAYER.U_ID
		WHERE KH_USER_INNER.U_WS_ID IS NOT NULL
			AND KH_USER_INNER.U_CONNECT  > 0
			AND KH_PLAYER.PL_IS_IN       > 0
			AND KH_PLAYER.RM_ID          = (
				SELECT KH_PLAYER.RM_ID
				FROM KH_PLAYER
					INNER JOIN KH_USER_INNER
						ON KH_USER_INNER.U_ID       = KH_PLAYER.U_ID
				WHERE KH_USER_INNER.U_WS_ID = #{sid}
			)
	]]>
	</select>
	
	
	<select
		id="getInRoomPlayerByRid"
		resultMap="wsplayer">
	<![CDATA[
		SELECT KH_USER_PROFILE.U_RATE,
				KH_USER_PROFILE.U_ICON,
				KH_USER.U_ID,
				KH_USER.U_NICK,
				KH_ROOM.RM_ID,
				KH_ROOM.RM_HOST
		FROM KH_USER
			INNER JOIN KH_USER_PROFILE
				ON KH_USER.U_ID = KH_USER_PROFILE.U_ID
			INNER JOIN KH_PLAYER
				ON KH_USER.U_ID = KH_PLAYER.U_ID
			INNER JOIN KH_ROOM
				ON KH_ROOM.RM_ID  = KH_USER_PROFILE.U_LAST_RID
				AND KH_ROOM.RM_ID = KH_PLAYER.RM_ID
			INNER JOIN KH_USER_INNER
				ON KH_USER.U_ID = KH_USER_INNER.U_ID
		WHERE KH_ROOM.RM_ID = #{rid}
			AND KH_USER_INNER.U_CONNECT > 0
			AND KH_PLAYER.PL_IS_IN      > 0
	]]>
	</select>
	
	<select
		id="countIsIn"
		resultType="int">
	<![CDATA[
		SELECT COUNT(KH_PLAYER.U_ID)
		FROM KH_PLAYER
			INNER JOIN KH_ROOM
				ON KH_ROOM.RM_ID       = KH_PLAYER.RM_ID
		WHERE KH_ROOM.RM_END  IS NULL
			AND KH_PLAYER.U_ID     = #{uid}
			AND KH_PLAYER.PL_IS_IN > 0
			AND KH_PLAYER.RM_ID <> 0
	]]>
	</select>
</mapper>