<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kh.splendy.mapper.RoomMapper">
	<resultMap id="roomResult" type="org.kh.splendy.vo.Room">
		<result column="RM_ID"			property="id"			javaType="int" />
		<result column="RM_TITLE"		property="title"		javaType="java.lang.String" />
		<result column="RM_PW"			property="password"		javaType="java.lang.String" />
		<result column="RM_HOST"		property="host"			javaType="int" />
		<result column="RM_INFO"		property="info"			javaType="java.lang.String" />
		<result column="RM_PL_LIMITS"	property="playerLimits"	javaType="int" />
		<result column="RM_WINNER"		property="winner"		javaType="int" />
		<result column="RM_START"		property="start"		javaType="java.sql.Date" />
		<result column="RM_END"			property="end"			javaType="java.sql.Date" />
	</resultMap>
	
	<select id="getNotEmptyRoom" resultType="java.util.HashMap">
	<![CDATA[
		SELECT KH_ROOM.RM_ID
		FROM KH_ROOM
			INNER JOIN KH_PLAYER
				ON KH_ROOM.RM_ID = KH_PLAYER.RM_ID
			INNER JOIN KH_USER_INNER
				ON KH_PLAYER.U_ID           = KH_USER_INNER.U_ID
		WHERE KH_PLAYER.PL_IS_IN    > 0
			AND KH_USER_INNER.U_CONNECT > 0
			AND KH_ROOM.RM_ID > 0
		GROUP BY KH_PLAYER.PL_IS_IN,
			KH_USER_INNER.U_CONNECT,
			KH_ROOM.RM_ID
		HAVING COUNT(KH_PLAYER.U_ID) > 0
	]]>
	</select>

	<insert id="createInitial" statementType="CALLABLE">
		<![CDATA[
            DECLARE
              rid NUMBER := #{rid};
              limits NUMBER;

            BEGIN

              SELECT RM_PL_LIMITS INTO limits FROM KH_ROOM WHERE RM_ID = rid;

              FOR i IN 1..100 LOOP
                INSERT INTO KH_PL_CARD(RM_ID, U_ID, CD_ID, N_HOLD) VALUES (rid, 0, i, 0);
              END LOOP;

              INSERT INTO KH_PL_COIN(RM_ID, CN_ID, U_ID, CN_COUNT) VALUES (rid, 6, 0, 5);
              FOR i IN 1..5 LOOP
                IF limits = 4 THEN
                  INSERT INTO KH_PL_COIN(RM_ID, CN_ID, U_ID, CN_COUNT) VALUES (rid, i, 0, 7);
                ELSE
                  INSERT INTO KH_PL_COIN(RM_ID, CN_ID, U_ID, CN_COUNT) VALUES (rid, i, 0, limits+2);
                END IF;
              END LOOP;

              COMMIT;

            END;
		]]>
	</insert>
</mapper>