<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!--
		기본적으로 설정은 어노테이션을 사용한다.
		테스트 용도를 제외하고는 web.xml 및 xml을 사용하지 말것.
	-->

</web-app>
